/* Copyright 2022 - 2024 Aasheesh Agarwal

button.button-3d{
    margin:10px;
    border-right:0;
    border-left:0;
    border-top:0;
    font-size:24px;
    padding:8px;
    color:rgba(255, 255, 255, 0.788);
}
button.button-3d:active{
    border-bottom:0;
}
button.button-3d{
    cursor:pointer;
}


/* COLOR THEMES */
/* GREY */
.button-3d-grey{
    border-bottom:3px solid #2e2e2e;
    background-color: #828387;
}
.button-3d-grey:active{
    border-top:3px solid #2e2e2e;
}

/* BLUE */
.button-3d-blue{
    border-bottom:3px solid #01184f;
    background-color: #346beb;
}
.button-3d-blue:active{
    border-top:3px solid #01184f;
}

/* LIGHT BLUE */
.button-3d-lightblue{
    border-bottom:3px solid #01184f;
    background-color: #346beb;
    filter: opacity(70%);
}
.button-3d-lightblue:active{
    border-top:3px solid #01184f;
}

/* RED */
.button-3d-red{
    border-bottom:3px solid rgb(117, 28, 28);
    background-color: rgb(248, 91, 91);
}
.button-3d-red:active{
    border-top:3px solid rgb(117, 28, 28);
}

/* ORANGE */
.button-3d-orange{
    border-bottom:3px solid rgb(90, 51, 0);
    background-color: rgb(202, 91, 0);
}
.button-3d-orange:active{
    border-top:3px solid rgb(90, 51, 0);
}

/* GREEN */
.button-3d-green{
    border-bottom:3px solid rgb(12, 59, 16);
    background-color: rgb(74, 139, 85);
}
.button-3d-green:active{
    border-top:3px solid rgb(12, 59, 16);
}

/* YELLOW */
.button-3d-yellow{
    border-bottom:3px solid rgb(83, 71, 3);
    background-color: rgb(180, 169, 70);
}
.button-3d-yellow:active{
    border-top:3px solid rgb(83, 71, 3);
}

/* DARK */
.button-3d-dark{
    border-bottom:3px solid saddlebrown;
    background-color: black;
    color: white;
}
.button-3d-dark:active{
    border-top:3px solid saddlebrown;
}


